body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

body,html {
  font-family: Arial, Helvetica, sans-serif;
}


.bill-container {
  width: 500px;
  height: 210px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  padding-top: 2px;
  padding-bottom: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 150px;
  border-radius: 5px;
  padding-left: 6px;
  background-color: white;
  margin-bottom: 25px;
}

label {
  font-size: 17px;
  font-weight: 700;
  margin-left: 14px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

input {
  width: 200px;
  padding: 8px 16px;
  border: 1px solid darkgrey;
  border-radius: 6px;
  margin-right: 14px;
}

input::placeholder {
  font-size: 15px;
}

.calculate-button {
  padding: 8px 16px;
  border: none;
  font-size: 16px;
  font-weight: 650;
  background-color: rgb(30, 75, 223);
  color: white;
  margin-left: 14px;
  border-radius: 8px;
  cursor: pointer;

  transition:  opacity 0.25s;
}

.calculate-button:active {
  opacity: 0.85;
}

p {
  
  font-size: 18px;
  font-weight: 600;
  margin-left: 560px;
}