* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 163);
  color: beige;
  height: 100%;
  width: 100%;
  
}

body,html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: rgb(6, 6, 92);
  height: 420px;
  width: 400px;
  margin: auto;
  margin-top: 140px;
  border-radius: 8px;
}